---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Feedback from "../components/Feedback.astro";
---

<Layout title="Welcome to Prompt Pedia!">
  <main>
    <Navbar></Navbar>
    <Feedback></Feedback>
  </main>
  <Footer></Footer>
</Layout>
