---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Preview from "../components/Preview.astro";
import Footer from "../components/Footer.astro";
import Feature from "../components/Feature.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="Welcome to Prompt Pedia!">
  <main>
    <Navbar></Navbar>
    <div class="relative z-20 w-full bg-white max-w-7xl mx-auto px-4">
      <Hero title="Become the AI Whisperer"></Hero>
      <Preview></Preview>
      <Feature></Feature>
      <Pricing></Pricing>
      <FAQ></FAQ>
      <Footer></Footer>
    </div>
  </main>
</Layout>
