---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Preview from "../components/Preview.astro";
import Footer from "../components/Footer.astro";
import Feature from "../components/Feature.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="Welcome to PromptAIpedia!">
  <main>
    <Navbar></Navbar>
    <Hero title="Become the AI Whisperer"></Hero>
    <Preview></Preview>
    <Feature></Feature>
    <Pricing></Pricing>
    <FAQ></FAQ>
  </main>
  <Footer></Footer>
</Layout>
