---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Privacy from "../components/Privacy.astro";
---

<Layout title="Welcome to Prompt Pedia!">
  <main>
    <Navbar></Navbar>
    <div class="relative z-20 w-full bg-white max-w-7xl mx-auto px-4">
      <Privacy></Privacy>
      <Footer></Footer>
    </div>
  </main>
</Layout>
