---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Privacy from "../components/Privacy.astro";
---

<Layout title="Welcome to PromptAIpedia!">
  <main>
    <Navbar></Navbar>
    <Privacy></Privacy>
  </main>
  <Footer></Footer>
</Layout>
