<section class="section">
  <div class="container">
    <h1 class="title is-family-secondary">Frequently Asked Questions</h1>

    <div class="block">
      <h1 class="title is-spaced is-size-4">What is Prompt Pedia?</h1>
      <p class="subtitle">Prompt Pedia is a tool to write better prompts on ChatGPT.</p>
    </div>
  
    <div class="block">
      <h1 class="title is-spaced is-size-4">What browsers is Prompt Pedia available on?</h1>
      <p class="subtitle">Prompt Pedia is currently available on Chrome and Firefox. Other browsers are coming soon.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">Does Prompt Pedia offers free plan?</h1>
      <p class="subtitle">Yes seven days free plan to access everything.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">What data does Prompt Pedia collect?</h1>
      <p class="subtitle">We collect your email address during the signup process and your prompts from Notion stays with you.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">How do I get in touch?</h1>
      <p class="subtitle">If you have questions, comments, or concerns, you can email us at support@promptaipedia.com</p>
    </div>
  </div>
</section>
