<section class="section">
  <div class="container">
    <h1 class="title is-family-secondary">Frequently Asked Questions</h1>

    <div class="block">
      <h1 class="title is-spaced is-size-4">What is Prompt Pedia?</h1>
      <p class="subtitle">Prompt Pedia is a tool to write better prompts on ChatGPT.</p>
    </div>
  
    <div class="block">
      <h1 class="title is-spaced is-size-4">What browsers is Prompt Pedia available on?</h1>
      <p class="subtitle">Prompt Pedia is currently available on Chrome and Firefox. Other browsers are coming soon.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">Does it work on every website?</h1>
      <p class="subtitle">Currently, it functions solely on https://chat.openai.com, but we intend to integrate it with as many websites as feasible in the future.</p>
      <p class="subtitle">If you require the PP to operate on a specific website, kindly send us the details via email.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">Does it works on Windows?</h1>
      <p class="subtitle">It can certainly work on windows. Type <code>ctrl + k</code> to bring the command palette.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">Does Prompt Pedia offers free plan?</h1>
      <p class="subtitle">Yes seven days free trial to access everything. Free trial plan only available after the initial life time access over sorry about that.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">What data does Prompt Pedia collect?</h1>
      <p class="subtitle">We collect your email address during the signup process and your prompts from Notion stays with you.</p>
    </div>

    <div class="block">
      <h1 class="title is-spaced is-size-4">How do I get in touch?</h1>
      <p class="subtitle">If you have questions, comments, or concerns, you can email us at support@promptaipedia.com</p>
    </div>
  </div>
</section>
