<section class="section">
	<div class="container">
		<h1 class="title is-size-3 has-text-centered is-family-secondary">Features</h1>
		<div class="columns is-mobile is-vcentered is-multiline">
			<div class="column is-12-mobile is-6-desktop">
				<div class="content is-medium">
					<p class="has-text-weight-bold">
						No More Switching Tabs, Copy and pasting Prompts to get mediocre results
					</p>
					<p>
						The worst thing about correctly prompting Chatgtp is you can’t save your prompts. 
					</p>
					<p>
						Great prompts are everywhere which makes them super hard to find and use.
					</p>
				</div>
			</div>
			<div class="column is-12-mobile is-6-desktop">
				<div class="box has-text-weight-bold is-flex is-justify-content-space-between">
					<span>
						Import Prompts from Notion 
					</span>
					<figure class="image is-24x24">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="is-cerise">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
						</svg>						
					</figure>
				</div>
				<div class="box has-text-weight-bold is-flex is-justify-content-space-between">
					<span>Access the best Mega-Prompt</span>
					<figure class="image is-24x24">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="is-cerise">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
						</svg>						
					</figure>
				</div>
				<div class="box has-text-weight-bold is-flex is-justify-content-space-between">
					<span>Save time and energy</span>
					<figure class="image is-24x24">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="is-cerise">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
						</svg>						
					</figure>
				</div>
				<div class="box has-text-weight-bold is-flex is-justify-content-space-between">
					<span>Get better responses from ChatGTP </span>
					<figure class="image is-24x24">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="is-cerise">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
						</svg>						
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section is-medium">
	<div class="columns is-mobile is-centered">
		<div class="column is-12-mobile is-8-desktop">
			<div class="content is-large">
				<blockquote>Stop Spending Hours Searching & Copy and Pasting ChatGTP Prompts</blockquote>
			</div>
		</div>
	</div>
</section>
