---

---
<footer class="pt-10 pb-28 border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
  <p>Copyright ©2023 Prompt Pedia</p>
  <a href="/privacy" class="button is-text">Privacy Policy</a>
</footer>