---

---

<footer class="footer py-3 has-background-alabaster">
  <div class="container">
    <div class="level">
      <div class="level-left">
        Copyright ©2023 Prompt Pedia
      </div>
      <div class="level-right">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc60swla6swzJgR0v0bvW8U7esvWii_7h6oK2bTI5tSyb05tQ/viewform?embedded=true" class="button is-text" target="_blank">Feedback</a>
        <a href="/privacy" class="button is-text">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
