---

---

<footer class="footer py-3">
  <div class="container">
    <div class="level">
      <div class="level-left">
        Copyright ©2023 Prompt Pedia
      </div>
      <div class="level-right">
        <a href="/privacy" class="button is-text">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
