---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-8-desktop is has-text-centered">
          <div class="py-5">
            <h1 class="title is-spaced is-1 has-text-black-biz is-family-secondary">{title}</h1>
            <p class="subtitle is-4">
              Access the library of THE BEST AI prompts ever created directly from ChatGTP by simply pressing "Command + K"
            </p>
            <button class="button is-medium is-dark is-outlined">Get it on Chrome</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
