<nav class="navbar is-spaced has-background-alabaster" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title is-size-4">
          <span class="has-text-black-biz">Prompt<span class="is-cerise">Pedia</span></span>
        </h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark is-outlined">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
