<section class="section">
  <div class="container">
    <h1 class="title has-text-centered is-family-secondary">Pricing</h1>
    <div class="columns is-mobile is-multiline is-centered is-vcentered">
      <div class="column is-12-mobile is-4-desktop">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Life Time - <span>first 100 users</span> </h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex">
                <span class="is-size-4 is-align-items-start">$</span><span>19</span>
              </div>
              <div class="ml-2">
                <span class="is-size-4 has-text-grey">/</span><span class="is-size-4 ml-1 has-text-grey">life time</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">The search bar</p>
          <p class="subtitle">Access full library (scroll)</p>
          <p class="subtitle">Prompts Saved</p>
          <div class="buttons">
            <a href="https://app.promptaipedia.com" class="button is-medium is-cerise is-fullwidth">Life time deal</a>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-4-desktop">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Standard</h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex">
                <span class="is-size-4 is-align-items-start">$</span><span>49</span>
              </div>
              <div class="ml-2">
                <span class="is-size-4 has-text-grey">/</span><span class="is-size-4 ml-1 has-text-grey">month</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">The search bar</p>
          <p class="subtitle">Access full library (scroll)</p>
          <p class="subtitle">Prompts Saved</p>
          <div class="buttons">
            <a href="https://app.promptaipedia.com" class="button is-fullwidth is-medium is-white">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
