<section class="section">
  <div class="container">
    <h1 class="title has-text-centered is-family-secondary">Pricing</h1>
    <div class="columns is-mobile is-multiline is-centered is-vcentered">
      <div class="column is-12-mobile is-4-desktop">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Yearly</h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex" id="individualPlan">
                <span class="is-size-4 is-align-items-start">$</span>
                <span>29</span>
                <span class="is-size-4 has-text-grey mx-2 mt-5">/</span>
                <span class="is-size-4 my-3 mt-5 mb-3 has-text-grey">Year</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">Chrome Extension</p>
          <p class="subtitle">Community Prompts</p>
          <p class="subtitle">Save your own Prompts</p>
          <p class="subtitle">One year updates</p>
          <div class="buttons">
            <a href="https://promptpedia.lemonsqueezy.com/checkout/buy/fba2f299-c91f-4220-b058-db37bf2521e9" class="button is-medium is-cerise is-fullwidth">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-4-desktop">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Life Time</h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex" id="teamPlan">
                <span class="is-size-4 is-align-items-start">$</span>
                <span>99</span>
                <span class="is-size-4 has-text-grey mx-2 mt-5">/</span>
                <span class="is-size-4 my-3 mt-5 mb-3 has-text-grey">Life Time</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">Chrome Extension</p>
          <p class="subtitle">Community Prompts</p>
          <p class="subtitle">Save your own Prompts</p>
          <p class="subtitle">Life time updates</p>
          <div class="buttons">
            <a href="https://promptpedia.lemonsqueezy.com/checkout/buy/1c4ec8d3-7fbd-42b7-ae4f-e723e1791ad2" class="button is-fullwidth is-cerise is-medium">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>