<section class="section">
  <div class="container">
    <h1 class="title has-text-centered is-family-secondary">Pricing</h1>
    <div class="columns is-mobile is-multiline">
      <div class="column is-12-mobile is-desktop-4">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Free</h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex">
                <span class="is-size-4 is-align-items-start">$</span><span>0</span>
              </div>
              <div class="ml-2">
                <span class="is-size-4 has-text-grey">/</span><span class="is-size-4 ml-1 has-text-grey">month</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">Access to Full Prompts Library </p>
          <button class="button is-fullwidth is-medium is-dark">Sign Up</button>
        </div>
      </div>
      <div class="column is-12-mobile is-desktop-4">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Free</h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex">
                <span class="is-size-4 is-align-items-start">$</span><span>4</span>
              </div>
              <div class="ml-2">
                <span class="is-size-4 has-text-grey">/</span><span class="is-size-4 ml-1 has-text-grey">month</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">Mega-prompts </p>
          <button class="button is-fullwidth is-medium is-dark">Sign Up</button>
        </div>
      </div>
      <div class="column is-12-mobile is-desktop-4">
        <div class="box p-6 notification is-light">
          <h1 class="title is-size-4">Free</h1>
          <h1 class="title is-1 is-spaced">
            <div class="is-flex">
              <div class="is-flex">
                <span class="is-size-4 is-align-items-start">$</span><span>8</span>
              </div>
              <div class="ml-2">
                <span class="is-size-4 has-text-grey">/</span><span class="is-size-4 ml-1 has-text-grey">month</span> 
              </div>
            </div>
          </h1>
          <p class="subtitle">Connect with Notion </p>
          <button class="button is-fullwidth is-medium is-dark">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>
